@import "../../scss/variables";
@import "../../scss/mixins";

h6,label{
    margin: 0;
    font-size: $xsmall-font+px;
    color: $sixth-color;
}
hr{
    margin: 0;
    border: 1px solid $border-12-color;
    flex: 1;
    width: 100%
}
input[type='radio']{
    height: 24px;
    width: 20px;
    accent-color: $secondary-color;
    margin: 0;
}
input[type='checkbox']{
    height: 24px;
    width: 18px;
    accent-color: $secondary-color;
    margin: 0;
}

.job__details__and__prereuisites{
    
    box-shadow: 0px 4px 6px #0000003D;
    margin: 26px 24px;
    .pre__requisites{
        background-color: #dbefff;
        height: 40px;
        padding: 10px 8px 10px 16px;
        margin: 0 ;
        box-sizing: border-box;
        @include displayFlex(space-between,normal);
        h1{
            margin: 0;
            font-size: 16px;
        }
        
        .arrow__container{
            cursor: pointer;
            @include displayFlex(space-between,center);
            .splitter{
                border: 1px solid $border-12-color;
                height: 40px;

            }
            .arrow__icon{
                color: $secondary-color;
                margin-left: 8px;
                // width: 12px;
                height: 24px;
                // font-size: 12px;
                
            }
        }
    }
    .job__basic__details__card{
    
        background-color: $white-color;
        
        padding: 16px;
        @include displayFlex(normal,normal);
        flex-direction: column;
        gap: 16px;
    
        
        button{
            background-color: $button-background-color;
            border: none;
            padding: 5px 16px;
            text-decoration: none;
            color: $primary-color;
            font-family: quicksand;
            font-weight: 600;
            box-shadow: 0px 3px 5px #0000003D;
            border-radius: 2px;
            font-size: $small-font+px;
            cursor: pointer;
            text-transform: uppercase;
        }
        button:disabled{
            background-color: $disable-button-background-color;

        }
        h1{
            margin: 0;
            font-size: 22px;
        }
        
        .job__basic__details__title{
            @include displayFlex(space-between,center);
        }
        .dateTime__and__location__container{
            width: 261px;
            .dateTime__and__location{
                margin-top: 8px;
                @include displayFlex(space-between,center);
                .date{
                    font-size: $small-font+px;
                }
                .splitter{
                    border: 1px solid $border-12-color;
                    height: 14px;
                    // margin: 0 10px 0 8px;
                }
                .location{
                    @include displayFlex(space-between,center);
                    gap: 4px;
                    >img{
                        width: 16px;
                    }
                    font-size: $xsmall-font+px;
                    color: $sixth-color;
                }
            }
        }
        .job__roles__container{
            .job__roles{
                margin-top: 8px;
                @include displayFlex(normal,center);
                gap: 8px;
                .role{
                    color: $secondary-color;
                    .icondiv{
                        @include displayFlex(center,center);
                        padding: 4px;
                        border-radius: 50%;
                        border: 1px solid $black-color;
                        img{
                            height: 16px;
                            width: 16px;
                        }
                    }
                    font-size: $small-font+px;
                    gap: 8px;
                    @include displayFlex(normal,center);
                    .splitter{
                        border: 1px solid $border-12-color;
                        height: 14px;
                    }
                }
            }
        }
        
    }
    .pre__requisites__card{
        background-color: $white-color;
        padding: 16px;
        h6{
            margin-bottom: 16px;
        }
        font-size: 14px;
        line-height: 24px;
        hr{
            margin: 16px 0;
        }
    }
}

.time__slots__and__preference{
    box-shadow: 0px 4px 6px #0000003D;
    background-color: $white-color;
    margin: 24px;
    padding: 16px;
    h1{
        margin: 0;
        margin-bottom: 24px;
        font-size: 16px;
    }
    .time__slot{
        .time__radios{
            margin-top: 16px;
            @include displayFlex(center,normal);
            flex-direction: column;
            gap: 16px;
            >div{
                font-size: 16px;
                @include displayFlex(normal,center);
                gap: 8px;
            }
        }
    }
    hr{
        margin: 16px 0;;
    }
    .preferences{
        .input__preferences{
            @include displayFlex(normal,normal);
            flex-direction: column;
            margin-top: 16px;
            gap: 16px;
            >div{
                @include displayFlex(normal,center);
                gap: 9px;
            }
        }
    }
    .resume{
        >label{
            @include displayFlex(flex-start,center);
            cursor: pointer;
            font-size: $small-font+px;
            text-transform: uppercase;
            color: $secondary-color;
            gap: 6px;
            >img{
                object-fit: cover;
            }
        }
        #input_resume{
            display: none;
        }
    }  
}
.roles{
    margin: 24px;
    .role__component{
        margin: 16px 0;
        box-shadow: 0px 4px 6px #00000029;
        .role__component__header{
            background-color: #dbefff;
        height: 56px;
        padding: 10px 8px 10px 16px;
        
        box-sizing: border-box;
        @include displayFlex(space-between,normal);
        h1{
            margin: 0;
            font-size: 16px;
            @include displayFlex(normal,center);
        }
        
        .arrow__container{
            cursor: pointer;
            @include displayFlex(space-between,center);
            .splitter{
                border: 1px solid $border-12-color;
                height: 56px;

            }
            .arrow__icon{
                color: $secondary-color;
                margin-left: 8px;
                // width: 12px;
                height: 24px;
                // font-size: 12px;
                
            }
        }
        }
        
    }
    .role__details__card{
        background-color: $white-color;
        padding: 16px;
        hr{
            margin: 16px 0;
        }
        h6{
            margin-bottom: 16px;
        }
        font-size: 14px;
        line-height: 24px;
    }
}



@media (max-width:376px) {
    .job__details__and__prereuisites{
        .job__basic__details__card{
            .job__roles__container{
                .job__roles{
                    @include displayFlex(normal,normal);
                    flex-direction: column;
                    .role{
                        .splitter{
                            display: none;
                        }
                    }
                }
            }
            .job__basic__details__title{
                >button{
                    position: fixed;
                    bottom: 0;
                    width: 100%;
                    left: 0;
                    height: 36px;
                }
            }
        }
    }
    
}