<div class="preview__profile__header">

    <h1>Personal information</h1>
    <div class="edit__profile">
        <mat-icon>edit</mat-icon>
        <div class="edit__profile__text">Edit</div>
    </div>

</div>

<div class="personal__information__container">
    <div class="information__component">
        <form class="personal__info__form" action="">
            <div class="first_name">
                <label for="firstName">First Name</label>
                <span>Shyamal Joshi</span>
            </div>
            <div class="last_name">
                <label for="LastName">Last Name</label>
                <span>Shyamal Joshi</span>

            </div>
            <div class="email">
                <label for="Email">Email</label>
                <span>Shyamal Joshi</span>
            </div>
            <div class="phone_no">
                <label for="phone_no">Phone Number</label>
                <span>Shyamal Joshi</span>
            </div>
            <div class="resume">
                <label for="input_resume">
                    <img src="../../assets/icons/Upload_black_24dp.svg" alt="">
                    Upload Resume
                </label>
            </div>
            <div class="portfolio_link">
                <label for="portfolio_link">Enter Portfolio URL (if any)</label>
                <span>Shyamal Joshi</span>
            </div>
            <div class="job_roles">
                <label for="">Preferred Job Roles</label>
                <span>Shyamal Joshi</span>
            </div>
            <div class="referral_name">
                <label for="input_referral" class="referralName">If You Are Registering Via A Referral, Please Mention Full Name Of The Employee Who Referred You</label>
                <span>Shyamal Joshi</span>
            </div>
            <div class="newsletter">
                <div>
                    <input type="checkbox" name="input_newsletter" id="input_newsletter" /> Send me job related updates via mail
                </div>
            </div>
        </form>
    </div>
    <div class="user__image__component">
        <img class="user__image" src="../../assets/icons/account_circle.svg" alt="">
    </div>
</div>

<div class="qualification__profile__header">
    <h1>Qualifications</h1>
    <div class="edit__profile">
        <mat-icon>edit</mat-icon>
        <div class="edit__profile__text">Edit</div>
    </div>
</div>

<div class="qualification__information__container">
    <div class="education__information__header">
        <h1>Education Qualification</h1>
    </div>
    <div class="educational__qualification__body">
        <form action="" class="educational__qualification__form">
            <div class="aggregate_percentage">
                <label for="AggregatePercentage">Aggregate Percentage</label>
                <span>Shyamal Joshi</span>
            </div>
            <div class="year_of_passing">
                <label for="YearOfPassing">Year of Passing</label>
                <span>Shyamal Joshi</span>
            </div>
            <div class="qualification_and_stream">
                <div class="Qualification">
                    <label for="qualification">Qualification</label>
                    <span>Shyamal Joshi</span>
                </div>
                <div class="Stream">
                    <label for="stream">Stream</label>
                    <span>Shyamal Joshi</span>
                </div>
            </div>
            <div class="college_and_other_name">
                <div class="college_name">
                    <label for="CollegeName">College</label>
                    <span>Shyamal Joshi</span>
                </div>
                <div class="Other_college">
                    <label for="OtherCollege">If others, please enter your college name</label>
                    <span>Shyamal Joshi</span>
                </div>
            </div>
            <div class="college_location">
                <label for="CollegeLocation">Where is your college located?</label>
                <span>Shyamal Joshi</span>
            </div>
        </form>
    </div>

    <div class="professional__information__header">
        <h1>Professional Qualification</h1>
    </div>
    <div class="professional__information_subheader">
        <label for="">Application Type</label>
        <span>Experienced</span>
    </div>
    <div class="professional__information__container">
        <div class="years__of__exeperience">
            <label for="yearsOfExeperience">Years of Experience</label>
            <span>5</span>
        </div>
        <div class="current__ctc">
            <label for="currentCtc">Current CTC (In Rupees)</label>
            <span>6,50,000</span>
        </div>
        <div class="expected__ctc">
            <label for="expectedCtc">Expected CTC (In Rupees)</label>
            <span>7,50,000</span>
        </div>
        <div class="exeperties__technologies">
            <label for="">Select All The Technologies You Expertise In</label>
            <div class="input_exeperties__technologies">
                <span>JavaScript</span>
                <span>NodeJs</span>
            </div>
            <label for="" >If others, please mention</label>
            <span>-</span>
        </div>
        <div class="familiar__technologies">
            <label for="">Select All The Technologies You Are Familiar In</label>
            <div class="input_familiar__technologies">
                <span>JavaScript</span>
                <span>NodeJs</span>
            </div>
            <label for="" >If others, please mention</label>
            <span>-</span>
        </div>
        <div class="notice__period">
            <label for="stream">Are you currently on notice period?</label>
            <div class="notice__period__text">
                <span>Yes</span>
            </div>
            <div class="notice__period__info">
                <div class="notice__period__end__date">
                    <label for="" >If Yes, when will your notice period end?</label>
                    <span>20-May-2020</span>
                </div>
                <div class="notice__period__duration">
                    <label for="" >How long is your notice period? (Mention in months)</label>
                    <span>2 Months</span>
                </div>
            </div>
        </div>
        <div class="previously__applied">
            <label for="stream">Have You Appeared For Any Test By Zeus in the past 12 months?</label>
            <div class="previously__applied__radio">
                <span>No</span>
            </div>
            <label for="" >If Yes, which role did you apply for?</label>
            <span>-</span>
        </div>
    </div>
</div>

<div class="next__and__previous__btns">
    <button (click)="this.parentComponent.moveToPreviousStep()">Previous</button>
</div>