<log4net>
    <appender name="Console" type="log4net.Appender.ConsoleAppender">
        <layout type="log4net.Layout.PatternLayout">
            <!-- Pattern to output the caller's file name and line number -->
            <conversionPattern value="%5level [%thread] (%file:%line) - %message%newline" />
        </layout>
    </appender>
    <appender name="Loki" type="log4net.Appender.LokiAppender, log4net.Appender.Loki">
        <BufferSize  value="1" />
        <ServiceUrl value="http://loki:3100/loki/api/v1/push" />
        <label>
            <key value="environment" />
            <value value="debug" />
        </label>
        <label>
            <key value="app" />
            <value value="MyApp" />
        </label>
    </appender>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
        <file value="D:\walk-in-portal\walk-in-portal_Backend\walk-in-portal_Backend\Log\log.txt" />
        <appendToFile value="true" />
        <maximumFileSize value="100KB" />
        <maxSizeRollBackups value="2" />

        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%level %thread %logger - %message%newline" />
        </layout>
    </appender>

    <root>
        <level value="DEBUG" />
        <appender-ref ref="Console" />
        <appender-ref ref="RollingFile" />
        <appender-ref ref="Loki"/>
    </root>
</log4net>