<div class="listing__container">
    @for(job of Jobs;track job.application_id){
        <div class="job__card">
            @if(CalculateTimeDiffrence(job.application.start_date,job.application.end_date)){
                <div class="expiring__tag">Expires in {{CalculateTimeDiffrence(job.application.start_date,job.application.end_date)}} days</div>
            }
            <h3>
                {{job.application.title}}
            </h3>
            <div class="dateTime__and__location__container">
                <h6>Date & Time :</h6>
                <div class="dateTime__and__location">
                    <div class="date"> {{ConvertDateFormate(job.application.start_date)}} to {{ConvertDateFormate(job.application.end_date)}} </div>
                    <div class="splitter"></div>
                    <div class="location">
                        <img src="../../assets/icons/location_on_grey_24dp.svg" alt="">
                        {{job.application.location}}
                    </div>
                </div>
            </div>
            <hr/>
            <div class="job__roles__container">
                <h6>Job Roles :</h6>
                <div class="job__roles">
                    @for(role of job.job_role;track $index){
                        <div class="role">
                            <div class="icondiv">
                                <img src="../../assets/icons/Instructional Designer.svg" alt="">
                            </div>
                            
                            <span> {{role}} </span>
                            @if(job.job_role.length>1 && $index<job.job_role.length-1){
                                <div class="splitter"></div>
                            }
                        </div>
                    }
                </div>
            </div>
            @if(job.application.additionalInformation){
                <div class="extra__job__container">
                    <span class="extra__job__tag">
                        {{job.application.additionalInformation}}
                    </span>
                </div>
            }
            <div class="view__more__btn__container">
                <button [routerLink]="['/job',job.application_id]"
                class="view__more__btn">
                    VIEW MORE DETAILS
                </button>
            </div>
        </div>
    }
</div>
