@import "../../scss/variables";
@import "../../scss/mixins";

span{
    position: absolute;
}

.login__container{
    height: 92vh;
    @include displayFlex(center,center);
    position: relative;
    .login__card{
        background-color: $white-color;
        height: 367px;
        
        border-top: 4px solid $border-color;
        padding: 24px 32px;
        width: 424px;
        border-radius: 2px 2px 0px 0px;
        >h1{
            margin: 0;
            font-size: $xxlarge-font+px;
            text-align: center;
        }
        
        input[type='text'],[type='password']{
            padding: 0;
            font-size: 16px;
            border: none;
            outline: none;
            font-size: 16px;
            color: #666666;
            color: #000;
            margin-top: 32px;
            font-family: quicksand;
            font-weight: 600;
            width: 100%;
            border-bottom: 1px solid $border-12-color;
        }
        h3{
            font-size: 14px;
            color: $secondary-color;
            font-weight: 700;
            display: block;
            text-align: right;
            margin-top: 5px;
            margin-bottom: 0;
        }
        .password__input{
            .inp__password{
                position: relative;
                >img{
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    cursor: pointer;
                }
            }
            
        }
        .rememberMe{
            margin-top: $xxlarge-font+px;
            font-size: $base-font+px;
            font-weight: 700;
            gap: 5px;
            @include displayFlex(left,center);
            input[type='checkbox']{
                height: 24px;
                width: 18px;
                accent-color: $secondary-color;
            }
        }
        .login__button{
            @include displayFlex(center,center);
            >button{
                background-color: $button-background-color;
                
                margin: 32px auto 24px;
                align-items: center;
                border: none;
                width: 216px;
                height: 40px;
                text-decoration: none;
                color: $primary-color;
                font-family: quicksand;
                font-weight: 600;
                box-shadow: 0px 3px 5px #0000003D;
            }
        }   
        .register__user{
            text-align: center;
            >p{
                margin-top: 0;
                margin-bottom: 4px;
                font-size: $xsmall-font+px;
            }
            >a{
                text-decoration: none;
                text-transform: uppercase;
                color: $secondary-color;
                font-size: $small-font+px;
            }
        }
    }
    .login__footer{
        @include displayFlex(center,center);
        position: absolute;
        bottom: 40px;
        >a{
            font-size: 14px;
            color: $secondary-color;
            font-weight: 700;
            text-decoration: none;
        }
        .splitter{
            border: 1px solid $border-12-color;
            height: 18px;
            margin: 0 10px 0 8px;
        }
    }
}

@media (max-width:376px) {
    .login__container{
        .login__card{
            padding: 20px 16px;
            width:311px;
        }
    }
}
