<div class="login__container">
    <div class="login__card">
        <h1>Log in</h1>
        <div class="email__input">
            <input type="text" placeholder="Email ID*" required>
            <h3>FORGOT EMAIL ID?</h3>
        </div>
        <div class="password__input">
            <div class="inp__password">
                <input type={{passwordType}} placeholder="Password*" required>
                <img  src="../../assets/icons/preview.svg" alt="preview icon" (click)="togglePassword()">
            </div>
            
            <h3>FORGOT PASSWORD?</h3>
            
        </div>
        <div class="rememberMe">
            <input type="checkbox" name="rememberMe" id="rememberMe" /> Remember Me
        </div>
        <div class="login__button">
            <button href="">LOG IN</button>
        </div>
        <div class="register__user">
            <p>Not registered yet?</p>
            <a href="" [routerLink]="['/registration']">create an account</a>
        </div>
    </div>
    <div class="login__footer">
        <a href="#">About</a>
        <div class="splitter"></div>
        <a href="#">Contact Us</a>
    </div>
</div>
