@import "../../scss/variables";
@import "../../scss/mixins";


.personal__information__container{
    margin: $xxlarge-font+px;
    background-color: $white-color;
    padding: $xxlarge-font+px;
    border-radius: 2px;

    @include displayFlex(space-between,flex-start);
    .user__image__component{
        @include displayFlex(space-between,center);
        flex-direction: column;
        .user__image{
            width:112px ;
            height: 134px;
            object-fit: cover;
            margin-bottom: $base-font+px;
        }
        .user__image__heading{
            margin-bottom: 8px;
            font-size: 14px;
            color: $secondary-color;
        }
        .user__image__info{
            font-size: 10px;
            color: $fifth-color;
        }
    }
    .invalid {
        border: 1px solid red;
    }
    .information__component{
        .personal__info__form{
            @include displayFlex(normal,normal);
            flex-direction: column;
            gap: 40px;
            label{
                font-size: $xsmall-font+px;
                color: $sixth-color;
                .error {
                    color: red;
                  }
            }
            input[type='text'],[type='email'],[type='url']{
                padding: 0;
                font-size: 16px;
                border: none;
                outline: none;
                font-size: 16px;
                color: #000;
                margin-top: 12px;
                font-family: quicksand;
                font-weight: 600;
                width: 480px;
                border-bottom: 1px solid $border-38-color;
                display: block;
            }
            input[type='checkbox']{
                height: 24px;
                width: 18px;
                accent-color: $secondary-color;
            }
            .phone_no{
                .number{
                    input{
                        padding: 0;
                        font-size: 16px;
                        border: none;
                        outline: none;
                        font-size: 16px;
                        color: #000;
                        margin-top: 12px;
                        font-family: quicksand;
                        font-weight: 600;
                        border-bottom: 1px solid $border-38-color;
                        text-align: center;
                    }
                    :first-child{
                        width: 22px;
                        margin: 0px 4px;
                        
                    }
                    :last-child{
                        width: 95px;
                    }
                }
            }
            .resume{
                >label{
                    @include displayFlex(flex-start,center);
                    cursor: pointer;
                    font-size: $small-font+px;
                    text-transform: uppercase;
                    color: $secondary-color;
                    gap: 6px;
                    >img{
                        object-fit: cover;
                    }
                }
                #input_resume{
                    display: none;
                }
            }  
            .job_roles{
                .input_jobRoles{
                    @include displayFlex(normal,normal);
                    flex-direction: column;
                    margin-top: 16px;
                    gap: 16px;
                    >div{
                        @include displayFlex(normal,center);
                        gap: 9px;
                    }
                    
                    
                }
            } 
            .referral_name{
                >label{
                    display: inline-block;
                    letter-spacing: 0.3px;
                    width: 480px;
                }
            }
            .newsletter{
                >div{
                    @include displayFlex(normal,center);
                    gap:8px
                }
                
                    
            }
        }
    }
}

.next__and__previous__btns{
    margin: 8px 0;
    @include displayFlex(center,center);
    gap: 16px;
    button{
        background-color: $button-background-color;
        align-items: center;
        border: none;
        width: 90px;
        height: 28px;
        text-decoration: none;
        color: $primary-color;
        font-family: quicksand;
        font-weight: 600;
        box-shadow: 0px 3px 5px #0000003D;
        text-transform: uppercase;
        border-radius: 2px;
        cursor: pointer;
    }
}