<div class="registration__header">
    <div class="registration__header__icon">
        <a href="#"><mat-icon>arrow_back</mat-icon></a>
    </div>
    <div class="registration__header__title">
        <h1>Create an account</h1>
    </div>
    <div class="registration__header__buttons">
        <button class="btn">Cancel</button>
        <button class="btn" [disabled]="isDisable" >Create</button>
    </div>
</div>

<div class="registration__progress">
    <div class="registration__steps">
        <span [ngClass]="{step_count: true}">
            <!-- <mat-icon>edit</mat-icon> -->
            1
        </span>
        <span>Personal Information</span>
    </div>
    <hr/>
    <div class="registration__steps">
        <span [ngClass]="{step_count: true}">2</span>
        <span>Qualifications</span>
    </div>
    <hr/>
    <div class="registration__steps">
        <span [ngClass]="{step_count: true}">3</span>
        <span>Review and Proceed</span>
    </div>
</div>

<!-- <app-personal-information></app-personal-information> -->
<!-- <app-qualifications></app-qualifications> -->
<app-preview-profile></app-preview-profile>