<div class="educational__qualifications">
    <div class="educational__qualification__header">
        <h1>Educational Qualifications</h1>
        <div class="arrow__container" (click)="toogleEducationalQualification()">
            <div class="splitter"></div>
            <mat-icon class="arrow__icon">
                @if(isEducationalQualificationVisible){
                    expand_less
                }
                @else{
                    expand_more
                }
            </mat-icon>
        </div>
    </div>
    
        <div class="educational__qualification__body" [ngClass]="{educationalVisibility:!isEducationalQualificationVisible}" >
            <form class="educational__qualification__form" [formGroup]="EducationQualificationForm" >
                <div class="aggregate_percentage">
                    <label for="AggregatePercentage">Aggregate Percentage*</label>
                    <input type="number" id="AggregatePercentage" formControlName="aggregatedPercentage">
                </div>
                <div class="year_of_passing">
                    <label for="YearOfPassing">Year of Passing*</label>
                    <select name="YearOfPassing" id="YearOfPassing" formControlName="yearOfPassing">
                        <option value="2020">2020</option>
                        <option value="2021">2021</option>
                        <option value="2022">2022</option>
                        <option value="2023">2023</option>
                        <option value="2024">2024</option>
                    </select>
                </div>
                <div class="qualification_and_stream">
                    <div class="Qualification">
                        <label for="qualification">Qualification*</label>
                        <select name="qualification" id="qualification" formControlName="qualification">
                            @for (qual of qualificationArray; track $index) {
                                <option [value]="qual">{{qual}}</option>
                            }
                        </select>
                    </div>
                    <div class="Stream">
                        <label for="stream">Stream*</label>
                        <select name="stream" id="stream" formControlName="stream">
                            @for (stream of streamArray; track $index) {
                                <option [value]="stream">{{stream}}</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="college_and_other_name">
                    <div class="college_name">
                        <label for="CollegeName">College*</label>
                        

                        <select name="CollegeName" id="CollegeName" formControlName="college">
                            @for (college of collegeArray; track $index) {
                                <option [value]="college">{{college}}</option>
                            }
                        </select>
                    </div>
                    <div class="Other_college">
                        <label for="OtherCollege">If others, please enter your college name</label>
                        <input type="text" id="OtherCollege" formControlName="otherCollege">
                    </div>
                </div>
                <div class="college_location">
                    <label for="CollegeLocation">Where is your college located?*</label>
                    <input type="text" id="CollegeLocation" formControlName="collegeLocation">
                </div>
            </form>
        </div>
    
</div>

<div class="professional__qualifications">
    <div class="professional__qualifications__header">
        <h1>Professional Qualifications</h1>
        <div class="arrow__container" (click)="toogleProfessionalQualification()">
            <div class="splitter"></div>
            <mat-icon class="arrow__icon">
                @if(isProfessionalQualificationVisible){
                    expand_less
                }
                @else{
                    expand_more
                }
            </mat-icon>
        </div>
    </div>
    <form action="" [hidden]="!isProfessionalQualificationVisible" [formGroup]="ProfessionalQualificationForm">
        <div class="application__type">
            <label for="stream">Applicant Type*</label>
            <div class="application__radio">
                <div>
                    <input type="radio" name="applicationType" (change)="onApplicationTypeChange()" value="fresher" formControlName="applicationType">Fresher
                </div>
                <div>
                    <input type="radio" name="applicationType" (change)="onApplicationTypeChange()" value="experienced" formControlName="applicationType">Experienced
                </div>
                
            </div>
        </div>

        
        @if(this.ProfessionalQualificationForm.value.applicationType==='fresher'){
            <div class="fresher__application">
                    <div class="familiar__technologies">
                        <label >Select All The Technologies You Are Familiar In</label>
                        <div class="input_familiar__technologies">
                            @for (technology of technologiesArray; track $index) {
                                <div>
                                    <input type="checkbox" (change)="onChange($event,'familiarTechnologies')" [value]="technology"  /> {{technology}}
                                </div>
                            }
                        </div>
                        <label >If others, please mention</label>
                        <input type="text" id="other__familier__technologies">
                    </div>
                    <div class="previously__applied">
                        <label for="stream">Have You Appeared For Any Test By Zeus in the past 12 months?*</label>
                        <div class="previously__applied__radio">
                            <div>
                                <input type="radio" name="previouslyApplied"  [value]="true" formControlName="previouslyApplied">Yes
                            </div>
                            <div>
                                <input type="radio" name="previouslyApplied" 
                                [value]="false" formControlName="previouslyApplied">No
                            </div>
                        </div>
                        <label  >If Yes, which role did you apply for?</label>
                        <input type="text" id="previously__applied__role"
                        formControlName="previouslyAppliedRole">
                    </div>
            </div>
        }
        @else {
            <div class="experienced__application">
                    <div class="years__of__exeperience">
                        <label for="yearsOfExeperience">Years of Experience*</label>
                        <input type="number" id="yearsOfExeperience" formControlName="yearsOfExperience">
                    </div>
                    <div class="current__ctc">
                        <label for="currentCtc">Current CTC* (In Rupees)</label>
                        <input type="number" id="currentCtc" formControlName="currentCtc">
                    </div>
                    <div class="expected__ctc">
                        <label for="expectedCtc">Expected CTC* (In Rupees)</label>
                        <input type="number" id="expectedCtc" formControlName="expectedCtc">
                    </div>
                    <div class="exeperties__technologies">
                        <label >Select All The Technologies You Expertise In*</label>
                        <div class="input_exeperties__technologies">
                            @for (technology of technologiesArray; track $index) {
                                <div>
                                    <input type="checkbox" [value]="technology" (change)="onChange($event,'expertiseTechnology')"/> {{technology}}
                                </div>
                            }
                        </div>
                        <label>If others, please mention</label>
                        <input type="text" id="other__Expertise__technologies"
                        formControlName="otherExpertiseTechnology">
                    </div>
                    <div class="familiar__technologies">
                        <label >Select All The Technologies You Are Familiar In</label>
                        <div class="input_familiar__technologies">
                            @for (technology of technologiesArray; track $index) {
                                <div>
                                    <input type="checkbox" [value]="technology" (change)="onChange($event,'familiarTechnologies')"/> {{technology}}
                                </div>
                            }
                        </div>
                        <label>If others, please mention</label>
                        <input type="text" id="other__familier__technologies_2"
                        formControlName="otherFamiliarTechnologies">
                    </div>
                    <div class="notice__period">
                        <label for="stream">Are you currently on notice period?*</label>
                        <div class="notice__period__radio">
                            <div>
                                <input type="radio" name="noticePeriod" (change)="onNoticePeriodChange()"  formControlName="noticePeriod" [value]="true">Yes
                            </div>
                            <div>
                                <input type="radio" name="noticePeriod" (change)="onNoticePeriodChange()"  formControlName="noticePeriod" [value]="false">No
                            </div>
                        </div>
                        @if (this.parentComponent.professionalQualification.get('noticePeriod')?.value) {
                            <div class="notice__period__info"  >
                                <div class="notice__period__end__date">
                                    <label  >If Yes, when will your notice period end?*</label>
                                    <input type="date" id="notice__period__end__date" formControlName="noticePeriodDate">
                                </div>
                                <div class="notice__period__duration">
                                    <label >How long is your notice period?* (Mention in months)</label>
                                    <select name="notice__period__duration" id="notice__period__duration" formControlName="noticePeriodDuration">
                                        <option value=0>0 Months</option>
                                        <option value=1>1 Months</option>
                                        <option value=2>2 Months</option>
                                        <option value=3>3 Months</option>
                                    </select>
                                </div>
                            </div>
                        }
                        
                    </div>
                    <div class="previously__applied">
                        <label for="stream">Have You Appeared For Any Test By Zeus in the past 12 months?*</label>
                        <div class="previously__applied__radio">
                            <div>
                                <input type="radio" name="previouslyApplied" formControlName="previouslyApplied" [value]="true">Yes
                            </div>
                            <div>
                                <input type="radio" name="previouslyApplied" formControlName="previouslyApplied" [value]="false">No
                            </div>
                        </div>
                        <label  >If Yes, which role did you apply for?</label>
                        <input type="text" id="previously__applied__role_2" formControlName="previouslyAppliedRole">
                    </div>
            </div>
        }
    </form>
    
</div>

<div class="next__and__previous__btns">
    <p-toast></p-toast>
    
        <button (click)="this.parentComponent.moveToPreviousStep()">Previous</button>
    
    
        <button (click)="onCheck()">Next</button>
    
    
</div>