@import "../../scss/variables";
@import "../../scss/mixins";

label{
    font-size: $xsmall-font+px;
    color: $sixth-color;
}
input[type='text'],[type='number'],select,[type='date']{
    padding: 0;
    font-size: 16px;
    border: none;
    outline: none;
    font-size: 16px;
    color: #000;
    margin-top: 12px;
    font-family: quicksand;
    font-weight: 600;
    width: 180px;
    border-bottom: 1px solid $border-38-color;
    display: block;
}
input[type='radio']{
    height: 24px;
    width: 20px;
    accent-color: $secondary-color;
    margin: 0;
}
input[type='checkbox']{
    height: 24px;
    width: 18px;
    accent-color: $secondary-color;
    margin: 0;
}

.educational__qualifications{
    .educationalVisibility{
        display: none;
    }
    margin: 0px 24px;
    .educational__qualification__body{
        
        background-color: $white-color;
        padding: 24px;
        border-radius: 2px;
        .educational__qualification__form{
            @include displayFlex(normal,normal); 
            flex-direction: column;
            gap:40px;
            
            .qualification_and_stream,.college_and_other_name{
                @include displayFlex(normal,normal);
                gap:24px;
                select{
                    width: 452px;
                }
                input{
                    width: 452px;
                }
            }
        }
    }
}

.educational__qualification__header,.professional__qualifications__header{
    height: 56px;
    background-color: $section-header-color;
    @include displayFlex(space-between,center); 
    box-shadow: 0px 4px 6px #00000029;
    >h1{
        font-size: $base-font+px;
        color: $primary-color;
        margin-left: $base-font+px;
    }
    .arrow__container{
        cursor: pointer;
        .splitter{
            border: 1px solid $border-12-color;
            height: 56px;
        }
        @include displayFlex(space-between,center);
        .arrow__icon{
            color: $secondary-color;
            margin:0px 8px;
        }
    }
}

.professional__qualifications{
    margin: 24px 24px;
    
    .application__type{
        background-color: $white-color;
        border-radius: 2px;
        padding: 24px;
        
        .application__radio{
            margin-top: 16px;
            @include displayFlex(normal,center);
            gap: 24px;
            >div{
                font-size: 16px;
                @include displayFlex(normal,center);
                gap: 8px;
            }
        }
    }
    .fresherVisibility{
        display: none;
    }
    
    .fresher__application{
        
        background-color: $white-color;
        margin-top: 8px;
        padding: 24px;
        border-radius: 2px;
        
        input[type='text']{
            width: 452px;
        }
        
        .familiar__technologies{
            .input_familiar__technologies{
                @include displayFlex(normal,normal);
                flex-direction: column;
                margin-top: 16px;
                gap: 16px;
                >div{
                    @include displayFlex(normal,center);
                    gap: 9px;
                }
                margin-bottom: 16px;
            }
            margin-bottom: 40px;
            
        }
        .previously__applied{
            .previously__applied__radio{
                margin-top: 16px;
                @include displayFlex(normal,center);
                gap: 24px;
                >div{
                    font-size: 16px;
                    @include displayFlex(normal,center);
                    gap: 8px;
                }
                margin-bottom: 17px;
            }
            
        }
    }
    .experiencedVisibility{
        display: none;
    }
    .experienced__application{
        background-color: $white-color;
        padding: 24px;
        margin-top: 8px;
        @include displayFlex(normal,normal);
        flex-direction: column;
        gap: 40px;
        .familiar__technologies,.exeperties__technologies{
            input[type='text']{
                width: 452px;
            }
            .input_familiar__technologies,.input_exeperties__technologies{
                
                @include displayFlex(normal,normal);
                flex-direction: column;
                margin-top: 16px;
                gap: 16px;
                >div{
                    @include displayFlex(normal,center);
                    gap: 9px;
                }
                margin-bottom: 16px;
            }
        }

        .previously__applied,.notice__period{
            input[type='text'],[type='date'],select{
                width: 452px;
                accent-color: $secondary-color;
            }
            .notice__period__info{
                @include displayFlex(normal,normal);
                gap: 24px;
            }
            .previously__applied__radio,.notice__period__radio{
                margin-top: 16px;
                @include displayFlex(normal,center);
                gap: 24px;
                >div{
                    font-size: 16px;
                    @include displayFlex(normal,center);
                    gap: 8px;
                }
                margin-bottom: 17px;
            }
            
        }
    }
}

.next__and__previous__btns{
    margin: 8px 0;
    @include displayFlex(center,center);
    gap: 16px;
    button{
        background-color: $button-background-color;
        align-items: center;
        border: none;
        width: 90px;
        height: 28px;
        text-decoration: none;
        color: $primary-color;
        font-family: quicksand;
        font-weight: 600;
        box-shadow: 0px 3px 5px #0000003D;
        text-transform: uppercase;
        border-radius: 2px;
        cursor: pointer;
    }
}